@Model Escuela

@{
    ViewData["Title"] = "Informacion escuela";
    //Layout = "_Layout";
    //Layout = "Simple";
}

<h1>Escuela: @ViewData["Title"] </h1>
<h2>Nombre: @Model.Nombre</h2>
<p><strong>Año Fundación: @Model.AñoDeCreación</strong></p>

<p><i>@ViewBag.CosaDinamica</i></p>


<p><i>@ViewData["CosaDinamica"]</i></p>